<h1><%= @company.name %></h1>

<p>This company brews <%= @company.beers.count %></p>

<h2>Beers:</h2>
<ul>
  <% @company.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<p><%= link_to 'Home', companies_path %></p>
